body {
  text-align:   center;
  background-image: url('../resources/earth.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#info-well {
  text-align:   center;
  border-radius:15px;
  width:        500px;
  margin:       0 auto;
  margin-top:   10%;
}

.text-primary {
  color:        #020514;
}

#change-units{
	background-color: #020514;
}