body {
  text-align:   center;
  background-image: url('../resources/wind_direction.jpg');
}

#info-well {
  text-align:   center;
  border-radius:15px;
  width:        60%;
  margin:       0 auto;
  margin-top:   15px;
}

.text-primary {
  color:        orange;
}